<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Side Bar</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<div class="navbar">
  <div class="admin-name">Bagas Arisandi</div>
  <div class="lang">EN</div>
</div>

<div class="container">
  <button class="toggle-btn" onclick="toggleSidebar()">≡</button>
  <div class="sidebar" id="sidebar">
    <img src="../img/logo.png"> 
    <h3>MENU BAR</h3>
    <a href="#">HOME</a>
    <a href="#">CUSTOMER</a>
    <a href="#">WASTE TYPE</a>
    <a href="#">DEPOSIT</a>
    <a href="#">WITHDRAWAL</a>
    <a href="#">LOGOUT</a>
  </div>
  
  <div class="content">
    <p class="little-title">About</p>
    <p>This is the main content area.</p>
  </div>
</div>

<script src="../js/sidebar.js"></script>
</body>
</html>
