<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="../css/styles-backup.css">
</head>

<body>
    <div class="container">
        <%- include('./component/sidebar.ejs') %>
            <main class="content">
                <%- include('./component/header.ejs') %>
                <div onclick="toggleSidebarClose()">

                    <h1>Customer</h1>
                    <p class="after-title">
                        Manage customers, you can change or edit the data, delete them, and also edit them. 
                        The name is unique, where it cannot be the same as other data or duplicated, and you can add more than one data at once.
                    </p>

                    <section class="counter-container">
                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-18.png">
                                <span class="number">
                                    ...
                                </span>
                                <span class="notes">Total <br> Customer</span>
                            </div>
  
                        </div>
  
                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-7.png">
                                <span class="number">
                                  ...
                                </span>
                                <span class="notes">Active <br> Customer</span>
  
                            </div>
  
                        </div>
  
                        <div class="counter-box">
                            <div class="counter-item">
                                <img src="./img/asset-19.png">
                                <span class="number">
                                  ...
                                </span>
                                <span class="notes">Deleted <br> Customer</span>
  
                            </div>
  
                        </div>
                    </section>

                    <section class="waste-type">  
                        
                        <div class="reset-btn">
                            <button onclick="createDataCustomer()">Add+</button>
                            <button onclick="resetFilter()">Reset</button>
                        </div>
                        <section class="waste-type-container">    
                            <table class="waste-type-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="full_name">
                                                Name
                                            </div>
                                            <input type="text" placeholder="Search.." name="full_name" oninput="filterSorting(undefined, 'same')">
                                        </th>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="phone_number">
                                                Phone
                                            </div>
                                            <input type="text" placeholder="Search.." name="phone_number" oninput="filterSorting(undefined, 'same')">
                                        </th>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="address">
                                                Address
                                            </div>
                                            <input type="text" placeholder="Search.." name="address" oninput="filterSorting(undefined, 'same')">
                                        </th>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="balance.deposit">
                                                Deposit
                                            </div>
                                            <div style="display: inline;">
                                                <input type="number" placeholder="Search.." name="balance.deposit" oninput="filterSorting(undefined, 'same')">
                                            </div>
                                        </th>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="balance.withdrawal">
                                                Withdrawal
                                            </div>
                                            <div style="display: inline;">
                                                <input type="number" placeholder="Search.." name="balance.withdrawal" oninput="filterSorting(undefined, 'same')">
                                            </div>
                                        </th>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="join_date">
                                                Join Date
                                            </div>
                                            <input type="date" placeholder="Search.." name="join_date" oninput="filterSorting(undefined, 'same')">
                                        </th>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="withdrawal_decision">
                                                Decision
                                            </div>
                                            <select id="filter-status" name="withdrawal_decision" oninput="filterSorting(undefined, 'same')">
                                                <option value="">All</option>
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </th>
                                        <th>
                                            <div onclick="filterSorting(this, 'same')" data-sort=0 name="status">
                                                Status
                                            </div>
                                            <select id="filter-status" name="status" oninput="filterSorting(undefined, 'same')">
                                                <option value="active">Active</option>
                                                <option value="deleted">Deleted</option>
                                            </select>
                                        </th>
                                        <th class="th-action">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="data-table-customer">
                                  
                                </tbody>
                            </table>
                        </section>

                        <div class="pagination">
                            <span name="first-page" onclick="filterSorting(undefined, 'first')"> First </span>
                            <span name="previous-page" onclick="filterSorting(undefined, 'prev')"> < </span>
                            <span name="active-page" class="active"> 1 </span>
                            <span name="next-page" onclick="filterSorting(undefined, 'next')"> > </span>
                            <span name="last-page" data-page="" onclick="filterSorting(undefined, 'last')"> Last </span>
                        </div>
                    </section>

                </div>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./js/sidebar.js"></script>
    <script src="./js/utilities.js"></script>
    <script src="./js/customer.js"></script>
</body>

</html>