<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
    <%- include('./component/linkrel.ejs') %>
</head>
<body class="body-login">
    <div class="container">
        <div class="login-box">
          <div>
            <h1 class="font-pacifico">Welcome Back!</h1>
          </div>
          
          <form action="/admin/login" method="POST">
            <div>
              <input type="text" placeholder="username or email" name="username" required> 
            </div>

            <div>
              <input type="password" placeholder="password" name="password" required> 
            </div>

            <div>
              <button type="submit">Login</button>
            </div>
          </form>
          
          <div>
            <a href="#">Forget Password?</a>
          </div>

        </div>
        <div class="footer">
            <img src="/img/logo.png" class="logo" alt="Bank Sampah Logo">
        </div>
    </div>
</body>
</html>
